img {
	text-align: center;
	display: block;
	width: 20%; 
	margin-left: auto;
	margin-right: auto;
}
.serif {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.serif-tgl {
  font-family: "Times New Roman", Times, serif;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #666;
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.container{
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
}
.table1 {
    font-family: "Times New Roman", Times, serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #d3d6db;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: left;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}